@import url('https://font.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body {
    background: #a5ada9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px #9ba0cf;
}
.container .sol_taraf {
    position: relative;
    background: #89737e;
    padding: 40px;
}
.profilText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #808080;
}

.profilText .imgBx img{
    border-radius: 50%;

}
.profilText h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.2em;
}
.profilText h2 span{
    font-size: 0.8em;
    font-weight: 100;
}
.iletisimBilgileri{
    padding-top: 60px;
}
.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.iletisimBilgileri ul{
    position: relative;
}
.iletisimBilgileri ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.iletisimBilgileri ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #2f0451;
}
.iletisimBilgileri ul li span{
    color: #fff;
    font-weight:300;
}
.iletişimBilgileriEğtim li{
    margin-bottom: 15px;
}
.iletişimBilgileriEğtim h5 {
    color: #2f0451;
    font-weight: 500
}
.iletişimBilgileriEğtim h4 {
    color: #fff;
    font-weight: 600;
}
.iletişimBilgileriEğtim h4:nth-child(3) {
        color: #fff;
        font-weight: 300;
}

.line3 {
    margin-bottom: 15px;
    margin-top: 15px;
}
/**********************SAĞ TARAF**************************/
.container .sag_taraf {
    position: relative;
    background: #fff;
    padding: 40px;
}
.about{
    margin-bottom: 50pxx;
}
.about:last-child{
    margin-bottom: 0;
}
.title2 {
    color: #89737e;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color:#333
}
.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h4{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}
.skills .box .percent{
    position: relative;
    width: 100%;
    height:10px;
    background: #f0f0f0;
}
.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #2f0451;
}
.back-to-home {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin: 20px;
    background-position: center;
    z-index: 1;
}
