

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: montserrat;
}
  
  body
{
  background: grey;
}
  
  .wrapper
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 350px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(254,236,164,1); 
}
  
h2
{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}
  
.input_field
{
  margin-bottom: 10px;
}
  
  .wrapper .input_field input[type="text"],
  textarea
{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}
  
  textarea
{
  resize: none;
  height: 80px;
}
  
  .btn
{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background:black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

.home,.home:hover
{
  color: #fff;
  text-decoration: none;
} 
  
#error_message
{
  margin-bottom: 20px;
  background: grey;
  padding: 0px;
  color:white;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}